<footer>
    <div>
        <h3>Shop</h3>
        <ul>
            <li><a href="{{ url_for('home') }}">Winter Wear</a></li>
            <li><a href="{{ url_for('home') }}">Summer Wear</a></li>
            <li><a href="{{ url_for('home') }}">Shoes</a></li>
            <li><a href="{{ url_for('home') }}">Accessories</a></li>
            <li><a href="{{ url_for('home') }}">Nappies</a></li>
            <li><a href="{{ url_for('home') }}">Toys</a></li>
        </ul>
    </div>
    <div>
        <h3>Help</h3>
        <ul>
            <li><a href="{{ url_for('help_page') }}">Getting Started</a></li>
            <li><a href="{{ url_for('about') }}">How It Works</a></li>
            <li><a href="{{ url_for('sell_with_us') }}">Sell With Us</a></li>
            <li><a href="{{ url_for('payment_options') }}">Payment Options</a></li>
            <li><a href="{{ url_for('faqs') }}">FAQs</a></li>
        </ul>
    </div>
    <div>
        <h3>Contact</h3>
        <p>hello@prelovedlittlesandbigs.co.za</p>
        <p>+27 64 646 1845</p>
        <p>Cape Town, South Africa</p>
        <a href="https://www.facebook.com/profile.php?id=61588220602622">Facebook</a>
    </div>
    <p>© 2026 Preloved Littles & Bigs. All rights reserved.</p>
</footer>
